<br />
<br />
<br />
<br /><br />
<br />

<form action="~/Request/RegistrationRequest">
    <p style="padding-left:30px">
        <input id="Button1" class="btn" type="submit" value="● Punto agenda" />
    </p>
</form>
<form action="~/Motion/MotionRequest">

    <p style="padding-left:30px">
        <input id="Button2" class="btn" type="submit" value="✎ Moción" />
    </p>
</form>
<form action="~/Justification/JustificationRequest">
     
    <p style="padding-left:30px">
        <input id="Button3" class="btn" type="submit" value="⚠ Justificación" />
    </p>
</form>
<br /> <br /> <br />

