<br />
<br />
<br />
<br /><br />
<br />

<form action="~/User/sSesion">
    <p style="padding-left:30px">
        <input id="Button1" class="btn" type="submit" value="◴ Sesión" />
    </p>
</form>
<form action="~/User/sActas">

    <p style="padding-left:30px">
        <input id="Button2" class="btn" type="button" value="✎ Actas" />
    </p>
</form>
<form action="~/User/sConsultas">
     
    <p style="padding-left:30px">
        <input id="Button3" class="btn" type="button" value="☞ Consultas" />
    </p>
</form>
<form action="~/User/sMiembros">

    <p style="padding-left:30px">
        <input id="Button4" class="btn" type="button" value="☆ Miembros" />
    </p>
</form>
<br /> <br /> <br />
