
<div class="alert alert-danger col-md-6">


        <strong> ¡No tiene permiso de acceder a esta sección!</strong>

            <br >
            @ViewBag.Message
            @Html.ActionLink("Iniciar sesión", "Login", "Usuario")
      


</div><br />

